.burger {}

.burger__menu {
    background-color: var(--color-blue);
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -250px;
    transition: all 0.2s ease-in;
    box-shadow: 5px 5px 5px -5px var(--color-shadow);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger__menu_status_open {
    left: 0;
}

.burger__overlay {
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.2s ease-in;
    z-index: 5;
}

.burger__overlay_status_open {
    background-color: rgba(132, 132, 132, 0.1);
    bottom: 0;
    right: 0;
}

.burger__button {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in;
    z-index: 10;
}

.burger__menu-icon {
    opacity: 0.5;
}

.burger__menu-icon:hover {
    opacity: 1;
}

.menu {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.menu__link {
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.2s ease-in;
}

.menu__link:hover {
    transform: scale(1.1);
}

.menu__link_visited {
    font-size: 16px;
    cursor: default;
}

.menu__link_visited:hover {
    transform: scale(1);
}

.menu__link:visited {
    color: var(--color-white);
}

.menu__info {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu__avatar {
    background-color: var(--color-white);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__name {
    color: var(--color-white);
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.menu__mail {
    color: var(--color-white);
    margin: 0;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in;
}

.menu__mail:hover {
    color: var(--color-white);
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .burger__menu_status_open {
        width: 100%;
    }
}